* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
}

/*cabeçalho*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: poppinsmedium, sans-serif;
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.menu-icon-container {
  display: flex;
  padding-top: 4px;
  align-items: center;
  width: 80px;
  height: 43px;
}

.fa-solid {
  font-weight: 600;
  font-size: 36px;
  color: #2F435A;
}

.fa-solid:hover {
  font-weight: 600;
  color: #FDCE6D;
  transition: .2s all;
}

.title-principal {
  display: flex;
  align-items: center;
  color: #2F435A;
  font-family: poppinsmedium, sans-serif;
}

.logo {
  display: flex;
  border: none;
}


/*lista*/
/*cabeçalho da lista*/
.list-container {
  display: flex;
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

.title {
  display: flex;
  width: 1020px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 232px;
  height: 20px;
  font-family: poppinssemibold, sans-serif;
  font-size: 20px;
  color: #2F435A;
  border-bottom: 2px solid #FDCE6D;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-bar input {
  color: #FDCE6D;
}

#searchBarList {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  width: 405px;
  height: 30px;
  color: #fddb89;
  font-family: poppinsmedium, sans-serif;
  font-size: 16px;
  background: #2F435A;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  outline: 0;
}

#searchBarList::placeholder {
  color: rgba(255, 231, 190, 0.79);
  font-family: poppinsregular, sans-serif;
}

.material-symbols-rounded {
  margin-right: 10px;
  color: #FDCE6D;
  position: absolute;
}


/*titulo da lista*/
.box-list {
  display: flex;
  position: absolute;
  margin-top: 50px;
  width: 63.75em;
  height: 20.25em;
  background-color: rgba(47, 67, 90, 0.05);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.box-title {
  display: flex;
  margin-top: 0.3125em;
  width: 63.75em;
  height: 1em;
  flex-direction: row;
  color: #2F435A;
  font-family: poppinssemibold, sans-serif;
}

.box-title-name {
  display: flex;
  margin-left: 1.5625em;
  width: 3.375em;
  height: 1em;
  color: #2F435A;
  font-family: poppinssemibold, sans-serif;
}

.box-title-email {
  display: flex;
  margin-left: 18.75em;
  width: 3.9375em;
  height: 1em;
  color: #2F435A;
  font-family: poppinssemibold, sans-serif;
}

.box-title-fone {
  display: flex;
  margin-left: 18.75em;
  width: 5.6875em;
  height: 1em;
  color: #2F435A;
  font-family: poppinssemibold, sans-serif;
}

.border-box-list {
  box-sizing: border-box;
  position: absolute;
  width: 62.5em;
  height: 17.9375em;
  margin-left: 0.625em;
  margin-right: 0.625em;
  margin-top: 1.5625em;
  border: 2px solid #2F435A;
  border-radius: 10px;
}

/*listagem*/
.lista {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  margin-top: 1.8em;
  margin-left: 0.15625em;
  width: 62.5em;
  height: 17.5em;
  color: #2F435A;
  overflow-y: auto;
}

/*scroll da tabela*/
.lista::-webkit-scrollbar {
  width: 10px;
  justify-content: flex-end;
}

.lista::-moz-list-bullet {
  width: 10px;
  justify-content: flex-end;
}

.lista::-webkit-scrollbar-track {
  background-color: rgba(253, 206, 109, 0.3);
  border-radius: 6px;
}

.lista::-webkit-scrollbar-thumb {
  background-color: #2F435A;
  border-radius: 6px;
}

/*lista nome*/
.listNameClient {
  display: flex;
  position: absolute;
  margin-left: 1.40625em;
  flex-direction: column;
  gap: 5px;
  max-width: 21.5625em;
}

.list-name-item {
  list-style-type: none;
  font-family: poppinsregular, sans-serif;
  font-size: 16px;
}

/*lista email*/
.listEmailClient {
  display: flex;
  position: absolute;
  margin-left: 23.5625em;
  flex-direction: column;
  gap: 5px;
  max-width: 21.5625em;
}

.list-email-item {
  list-style-type: none;
  font-family: poppinsregular, sans-serif;
  font-size: 16px;
}

/*lista telefone*/
.listFoneClient {
  display: flex;
  position: absolute;
  margin-left: 46.1875em;
  flex-direction: column;
  gap: 5px;
  max-width: 21.5625em;
}

.list-fone-item {
  list-style-type: none;
  font-family: poppinsregular, sans-serif;
  font-size: 16px;
}


@media screen and (max-width: 730px) {

  .menu-lateral ul {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .open {
    display: block;
  }
}
