body,
html {
    margin: 0;
    padding: 0;
}

header{
  display: flex;
  width: 700px;
  justify-content: center;
  margin-right: auto ;
  margin-left: auto;
}

/*menu-lateral*/
#slide {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    align-items: flex-start;
    top: 0;
    left: 0;
    padding: 40px 20px;
    background-color: #fdce6d;
    height: 100%;
    width: 250px;
    z-index: 1000;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    border-radius: 0px 10px 10px 0px;
  }
  
  #slide > li {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #slide > li:hover > .drop-down-agenda {
    display: block;
    position: absolute;
    left: 210px;
    top: 95px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    z-index: 100;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  }
  
  #slide > li:hover > .drop-down-cadastro {
    display: block;
    position: absolute;
    left: 210px;
    top: 135px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    z-index: 90;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  }
  
  #slide > li > a {
    line-height: 18px;
    color: #2f435a;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .menu-container {
    display: flex;
  }
  
  .um {
    margin-left: 75px;
  }
  
  .dois {
    margin-left: 45px;
  }
  
  .drop-down-agenda {
    display: none;
    position: absolute;
    left: 210px;
    top: 90px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    z-index: 100;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  }
  
  .drop-down-agenda > ul {
    list-style-type: none;
  }
  
  .drop-down-agenda > ul > li {
    margin-bottom: 8px;
  }
  
  .drop-down-agenda > ul > li > a {
    color: #2f435a;
    font-size: 18px;
    text-decoration: none;
  }
  
  .drop-down-agenda > ul > li > a:hover {
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.5));
  }
  
  .drop-down-cadastro {
    display: none;
    position: absolute;
    left: 210px;
    top: 135px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  }
  
  .drop-down-cadastro > ul {
    list-style-type: none;
  }
  
  .drop-down-cadastro > ul > li {
    margin-bottom: 8px;
  }
  
  .drop-down-cadastro > ul > li > a {
    color: #2f435a;
    font-size: 18px;
    text-decoration: none;
  }
  
  .drop-down-cadastro > ul > li > a:hover {
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.5));
  }
  
  .fa-home,
  .fa-power-off {
    color: #2f435a;
    font-size: 24px;
  }
  
  .fa-headset {
    font-size: 23px;
    color: #2f435a;
  }
  
  .fa-calendar {
    font-size: 23px;
    padding-left: 3px;
    color: #2f435a;
  }
  
  .fa-user-group {
    font-size: 22px;
    color: #2f435a;
  }
  
  .fa-file-lines {
    font-size: 25px;
    padding-left: 3px;
    color: #2f435a;
  }
  
  /*menu-lateral*/
  
  /*cabeçalho*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    margin-top: 40px;
  }
  
  .header-pagina {
    display: none;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #2f435a;
    font-size: 20px;
  }
  
  .menu-icon-container {
    display: flex;
    align-items: center;
    width: 80px;
    height: 43px;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .fa-bars {
    font-weight: 600;
    font-size: 36px;
    color: #2f435a;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
  }
  
  .fa-bars:hover {
    font-weight: 600;
    color: #fdce6d;
    transition: 0.2s all;
  }
  
  .menu-icon-container>button {
    background-color: transparent;
    width: 34px;
    height: 30px;
    outline: 0;
    border: none;
    cursor: pointer;
  }
  .title-principal {
    display: flex;
    align-items: center;
    color: #2f435a;
    font-size: 24px;
  }
  
  .logo {
    display: flex;
    border: none;
  }

input:disabled,
button:disabled {
    background-color: #f0f0f0;
    color: #a0a0a0;
    border: 1px solid #d0d0d0;
    cursor: default;
    opacity: 0.6;
}

main {
    display: flex;
    padding: 30px;
}





.menu-icon {
    width: 20px;
    padding: 3px 5px;
    margin-right: 10px;
}

ul ul {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #FFF1D4;
    width: 180px;
}

li:hover>ul {
    display: block;
}

.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.titulo {
    font-size: 16px;
    text-align: center;
    margin-bottom: 22px;
    font-weight: bold;
    margin-top: 30px;
    line-height: 1.2;
    text-align: center;
    color: #2F435A;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.botoes {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.botoes button {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 12px;
    border: none;
    background-color: #2F435A;
    color: rgba(253, 206, 109, 1);
    cursor: pointer;
    width: 25%;
    max-width: fit-content;
}

.formulario {
    margin-top: 2px;
    width: 40%;
    padding: 10px;
}



.cabecalho {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    background-color: #2F435A;
    color: rgba(253, 206, 109, 1);
    border-radius: 20px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
}

.cabecalho svg {
    margin-right: 5px;
    vertical-align: middle;
    fill: #FDCE6D;
}

.campo {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    height: 28px;
    align-self: start;
    border-radius: 10px;
}

.campo svg {
    width: 24px;
    height: 19px;
    margin-right: 6px;
    fill: var(--azul, #2F435A);
}

.campo input {
    padding: 2px 10px;
    border: 0px;
    border-radius: 8px;
    background-color: #FFF1D4;
    font-family: 'Poppins', sans-serif;
    color: #2F435A;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

.inputSelect {
    display: none;
}

.selectFunctionBox {
    position: relative;
}

.selectFunctionLabel {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    justify-content: space-between;
    border: 0px;
    border-radius: 8px;
    font-size: 13px;
    background-color: #FFF1D4;
    font-family: 'Poppins', sans-serif;
    color: #2F435A;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

.selectFunctionLabel svg {
    width: 10px;
    height: 10px;
}

.selectFunctionOptions {
    position: absolute;
    left: 101%;
    top: -5%;
    padding: 10px;
    border-radius: 8px;
    background: #FFDE9A;
    display: none;
}

.campo input[type="checkbox"]:checked+.selectFunctionBox .selectFunctionOptions {
    display: block;
}

.radio-group-function {
    display: flex;
    align-items: center;
}

.radio-group-function label {
    color: #2F435A;
    font-size: 14px;
    margin-left: 3px;
}

.radio-group-function input {
    margin: 0;
}

.fillWidth {
    flex: 1;
}

.campo .idColaborador {
    width: 70px;
}

input .idColaborador {
    max-width: fit-content;
}

.lista-colaboradores {
    margin-left: 10px;
}

.lista-colaboradores-cabecalho {
    font-size: 16px;
    font-weight: bold;
    color: #2F435A;
    margin: 86px 0 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-decoration: underline;
    text-decoration-color: rgba(253, 206, 109, 1);
    text-decoration-thickness: 2px;
}

.search-bar-box {
    width: 50%;
    display: flex;
    padding: 5px 20px 5px 10px;
    height: 20px;
    border-radius: 50px;
    background: #2F435A;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

.search-bar {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    background: #2F435A;
}

.search-bar-icon {
    cursor: pointer;
}

table {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    border-radius: 10px;
    background: rgba(47, 67, 90, 0.05);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.20);
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    color: #2F435A;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

th {
    padding: 10px 20px 0px 20px;
}

.table-body {
    color: #2F435A;
    border: #2F435A;
    font-size: 12px;
    overflow-x: scroll;
    font-weight: bolder;
    border: 2px solid #2F435A;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
}

.tr-hover:hover {
    border-radius: 50px;
    background: var(--campos_background, #FFF1D4);
    cursor: pointer;
}

td {
    padding: 5px 0px 5px 20px;
}