* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* INICIO CABEÇALHO */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppinsmedium, sans-serif;
    width: 43.75em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
}

.menu-icon-container {
    display: flex;
    padding-top: 0.25em;
    align-items: center;
    width: 5em;
    height: 2.6875em;
}

.fa-bars {
    font-weight: 600;
    font-size: 2.25em;
    color: #2F435A;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.fa-bars:hover {
    font-weight: 600;
    color: #FDCE6D;
    transition: .2s all;
}

.title-principal {
    display: block;
    align-items: center;
    color: #2F435A;
    font-family: poppinsmedium, sans-serif;
}

.logo {
    display: flex;
    border: none;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}
/* FIM CABEÇALHO */

/* INICIO FORMULÁRIO */
form {
    width: 43.75em;
    margin-left: auto;
    margin-right: auto;
}


/* INICIO CLIENTE */
.label-title-cliente {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    width: 43.75em;
    height: 1.875em;
    border-radius: 3.125em;
    align-items: center;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-title-cliente {
    display: flex;
    height: 1.25em;
    padding-top: 0.0625em;
    margin-left: 0.625em;
    align-items: center;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}


/* INICIO ID E NOME CLIENTE */
.input-line-1 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    width: 42.5em;
}

.id-client-container {
    display: flex;
    margin-top: 0.625em;
    align-items: center;
    width: 6.6875em;
    height: 1.875em;
    gap: 0.15625em;
}

.fa-id-card {
    color: #2F435A;
    font-size: 1.625em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.id-client-container input {
    color: #FDCE6D;
}

#idClient {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.0625em;
    padding-left: 0.5em;
    width: 5em;
    height: 1.625em;
    color: rgba(47, 67, 90, 0.5);
    font-family: poppinsmedium, sans-serif;
    font-size: 0.875em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}

#idClient::placeholder {
    color: #2f435a8a;
}

.name-client-container {
    display: flex;
    margin-left: 1em;
    margin-top: 0.625em;
    align-items: center;
    width: 35.3125em;
    height: 1.875em;
    gap: 0.15625em;
}

.fa-user {
    color: #2F435A;
    font-size: 1.5em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.name-client-container input {
    color: #FDCE6D;
}

#nameClient {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    line-height: 1.875em;
    width: 33.125em;
    height: 1.875em;
    color: rgb(47, 67, 90);
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}

/* FIM ID E NOME CLIENTE */


/* INICIO E-MAIL CLIENTE */
.email-client-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    align-items: center;
    width: 42.5em;
    height: 1.875em;
    gap: 0.15625em;
}

.fa-envelope {
    color: #2F435A;
    font-size: 1.78125em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.email-client-container input {
    color: #FDCE6D;
    height: 1.875em;
}

#emailClient {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.875em;
    margin-left: 0.08em;
    padding-top: 0.0625em;
    padding-left: 0.5em;
    width: 40.25em;
    height: 1.875em;
    color: rgb(47, 67, 90);
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}
/* FIM E-MAIL CLIENTE */

/* INICIO TELEFONE CLIENTE */
.fone-client-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    align-items: center;
    width: 42.5em;
    height: 1.875em;
    gap: 0.15625em;
}

.fa-phone {
    color: #2F435A;
    font-size: 1.7em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.fone-client-container input {
    color: #2F435A;
}

#foneClient {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.875em;
    margin-left: 0.1875em;
    padding-left: 0.5em;
    width: 40.25em;
    height: 1.875em;
    color: rgb(47, 67, 90);
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}
/* FIM TELEFONE CLIENTE */

/* INICIO PET */
.label-title-pet {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.25em;
    width: 43.75em;
    height: 1.875em;
    border-radius: 3.125em;
    align-items: center;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-title-pet {
    display: flex;
    height: 1.25em;
    padding-top: 0.0625em;
    margin-left: 0.625em;
    align-items: center;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}


.name-pet-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    align-items: center;
    width: 42.5em;
    height: 1.875em;
    gap: 0.15625em;
}

.name-pet-container input {
    color: #FDCE6D;
    height: 1.875em;
}

#namePet {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.875em;
    margin-left: 0.08em;
    padding-top: 0.0625em;
    padding-left: 0.5em;
    width: 40.25em;
    height: 1.875em;
    color: rgb(47, 67, 90);
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}

.dog-name-icon {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

    /* INICIO PROPRIEDADES */
.pet-properties {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    width: 42.5em;

}

/* INICIO IDADE */
#petIdade {
    position: relative;
    width: 21em;
    margin-top: 0.625em;
    z-index: 1;
}

#petIdade label {
    display: flex;
    align-items: center;
    height: 1.5625em;
    padding: 0.3125em;
    gap: 0.625em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

.text-idade {
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.125em;
}

.containerIdade {
    position: absolute;
    width: 21em;
    border-radius: 0.5em;
    align-items: center;
    line-height: 1.875em;
}

.containerIdade input {
    position: absolute;
    margin-top: 0.3125em;
    height: 1.875em;
    line-height: 1.875em;
    align-items: center;
    width: 100%;
    background-color: #FFF1D4;
    padding: 0 0.3125em;
    box-sizing: border-box;
    border-radius: 0.5em;
    outline: 0;
    border: none;
    color: #2F435A;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #2F435A;
}

.dropDownIdade {
    position: absolute;
    align-items: flex-start;
    width: 100%;
    height: 5em;
    background-color: #FDCE6D;
    border-radius: 0.3125em;
    margin-top: 2.5em;
    overflow: auto;
    display: none;
    transform: translate(0px, -10px);
    transition: .5s;
    filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
    z-index: 1;
}

.dropDownIdade::-webkit-scrollbar {
    background-color: rgba(255, 231, 190, 0.9);
    width: 0.3125em;
    border-radius: 3.125em;
}

.dropDownIdade::-webkit-scrollbar-thumb {
    background: #2F435A;
    width: 0.3125em;
    border-radius: 3.125em;
}

.itemIdade {
    height: 1.5625em;
    padding-left: 0.3125em;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    color: #2F435A;
    font-size: 1em;
    font-family: poppinsmedium, sans-serif;
}

.itemIdade:hover {
    background-color: rgba(255, 231, 190, 0.9);
    padding-left: 0.4375em;
    transition: .3s;
    font-family: poppinssemibold, sans-serif;
}
/* FIM IDADE */

/* INICIO PORTE */
#petPorte {
    position: relative;
    width: 21em;
    margin-top: 0.625em;
    z-index: 1;
}

#petPorte label {
    display: flex;
    align-items: center;
    height: 1.5625em;
    padding: 0.3125em;
    gap: 0.625em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

.text-porte {
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.125em;
}

.containerPorte {
    position: absolute;
    width: 21em;
    border-radius: 0.5em;
    align-items: center;
    line-height: 1.875em;
}

.containerPorte input {
    position: absolute;
    margin-top: 0.3125em;
    height: 1.875em;
    align-items: center;
    line-height: 1.875em;
    width: 100%;
    background-color: #FFF1D4;
    padding: 0 0.3125em;
    box-sizing: border-box;
    border-radius: 0.5em;
    outline: 0;
    border: none;
    color: #2F435A;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #2F435A;
}

.dropDownPorte {
    position: absolute;
    align-items: flex-start;
    width: 100%;
    height: 5em;
    background-color: #FDCE6D;
    border-radius: 0.3125em;
    margin-top: 2.5em;
    overflow: auto;
    display: none;
    transform: translate(0px, -10px);
    transition: .5s;
    filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
    z-index: 1;
}

.dropDownPorte::-webkit-scrollbar {
    background-color: rgba(255, 231, 190, 0.9);
    width: 0.3125em;
    border-radius: 3.125em;
}

.dropDownPorte::-webkit-scrollbar-thumb {
    background: #2F435A;
    width: 0.3125em;
    border-radius: 3.125em;
}

.itemPorte {
    height: 1.5625em;
    padding-left: 0.3125em;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    color: #2F435A;
    font-size: 1em;
    font-family: poppinsmedium, sans-serif;
}

.itemPorte:hover {
    background-color: rgba(255, 231, 190, 0.9);
    padding-left: 0.4375em;
    transition: .3s;
    font-family: poppinssemibold, sans-serif;
}
/* FIM PORTE */

/* INICIO PELAGEM */
#petPelagem {
    display: flex;
    flex-direction: column;
    width: 21em;
    margin-top: 2.625em;
}

#petPelagem label {
    display: flex;
    align-items: center;
    height: 1.5625em;
    padding: 0.3125em;
    gap: 0.3125em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

.text-Pelagem {
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.125em;
}

.containerPelagem {
    position: relative;
    width: 21em;
    border-radius: 0.5em;
    align-items: center;
    line-height: 1.875em;
}

.containerPelagem input {
    margin-top: 0.3125em;
    height: 1.875em;
    align-items: center;
    width: 100%;
    line-height: 1.875em;
    background-color: #FFF1D4;
    padding: 0 0.3125em;
    box-sizing: border-box;
    border-radius: 0.5em;
    outline: 0;
    border: none;
    color: #2F435A;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #2F435A;
}

.dropDownPelagem {
    position: absolute;
    align-items: flex-start;
    width: 100%;
    height: 5em;
    background-color: #FDCE6D;
    border-radius: 0.3125em;
    margin-top: 0.3125em;
    overflow: auto;
    display: none;
    transform: translate(0px, -10px);
    transition: .5s;
    filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
    z-index: 1;
}

.dropDownPelagem::-webkit-scrollbar {
    background-color: rgba(255, 231, 190, 0.9);
    width: 0.3125em;
    border-radius: 3.125em;
}

.dropDownPelagem::-webkit-scrollbar-thumb {
    background: #2F435A;
    width: 0.3125em;
    border-radius: 3.125em;
}

.itemPelagem {
    height: 1.5625em;
    padding-left: 0.3125em;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    color: #2F435A;
    font-size: 1em;
    font-family: poppinsmedium, sans-serif;
}

.itemPelagem:hover {
    background-color: rgba(255, 231, 190, 0.9);
    padding-left: 0.4375em;
    transition: .3s;
    font-family: poppinssemibold, sans-serif;
}
/* FIM PELAGEM */

/* INICIO RAÇA */
#petRaca {
    display: flex;
    flex-direction: column;
    width: 21em;
    margin-top: 2.625em;
}

#petRaca label {
    display: flex;
    align-items: center;
    height: 1.5625em;
    padding: 0.3125em;
    gap: 0.625em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

.text-raca {
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.125em;
}

.containerRaca {
    position: relative;
    width: 21em;
    border-radius: 0.5em;
    align-items: center;
    line-height: 1.875em;
}

.containerRaca input {
    position: absolute;
    margin-top: 0.3125em;
    height: 1.875em;
    line-height: 1.875em;
    align-items: center;
    width: 100%;
    background-color: #FFF1D4;
    padding: 0 0.3125em;
    box-sizing: border-box;
    border-radius: 0.5em;
    outline: 0;
    border: none;
    color: #2F435A;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #2F435A;
}

.dropDownRaca {
    position: absolute;
    align-items: flex-start;
    width: 100%;
    height: 5em;
    background-color: #FDCE6D;
    border-radius: 0.3125em;
    margin-top: 2.5em;
    overflow: auto;
    display: none;
    transform: translate(0px, -10px);
    transition: .5s;
    filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
    z-index: 1;
}

.dropDownRaca::-webkit-scrollbar {
    background-color: rgba(255, 231, 190, 0.9);
    width: 0.3125em;
    border-radius: 3.125em;
}

.dropDownRaca::-webkit-scrollbar-thumb {
    background: #2F435A;
    width: 0.3125em;
    border-radius: 3.125em;
}

.itemRaca {
    height: 1.5625em;
    padding-left: 0.3125em;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    color: #2F435A;
    font-size: 1em;
    font-family: poppinsmedium, sans-serif;
}

.itemRaca:hover {
    background-color: rgba(255, 231, 190, 0.9);
    padding-left: 0.4375em;
    transition: .3s;
    font-family: poppinssemibold, sans-serif;
}
/* FIM RAÇA */
/* FIM PROPRIEDADES */
/* FIM PET */

/* INICIO SERVIÇOS */
#servicos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.25em;
}

#servicos label {
    display: flex;
    align-items: center;
    height: 1.5625em;
    padding: 0.625em;
    gap: 0.625em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3.125em;
}

.text-servicos {
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}

.containerServicos {
    position: relative;
    width: 98%;
    border-radius: 0.5em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3125em;
    line-height: 1.875em;
}

.containerServicos input {
    margin-top: 0.3125em;
    height: 1.875em;
    align-items: center;
    line-height: 1.875em;
    width: 100%;
    background-color: #FFF1D4;
    padding: 0 0.3125em;
    box-sizing: border-box;
    border-radius: 0.5em;
    outline: 0;
    border: none;
    color: #2F435A;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #2F435A;
}

.dropDownServico {
    position: absolute;
    align-items: flex-start;
    width: 100%;
    height: 5em;
    background-color: #FDCE6D;
    border-radius: 0.3125em;
    margin-top: 0.3125em;
    overflow: auto;
    display: none;
    transform: translate(0px, -10px);
    transition: .5s;
    filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
}

.dropDownServico::-webkit-scrollbar {
    background-color: rgba(255, 231, 190, 0.9);
    width: 0.3125em;
    border-radius: 3.125em;
}

.dropDownServico::-webkit-scrollbar-thumb {
    background: #2F435A;
    width: 0.3125em;
    border-radius: 3.125em;
}

.itemServico {
    height: 1.5625em;
    padding-left: 0.3125em;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    color: #2F435A;
    font-size: 1em;
    font-family: poppinsmedium, sans-serif;
}

.itemServico:hover {
    background-color: rgba(255, 231, 190, 0.9);
    padding-left: 0.4375em;
    transition: .3s;
    font-family: poppinssemibold, sans-serif;
}
/* FIM SERVIÇOS */

/* INICIO AGENDA */
.label-title-agenda {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.25em;
    width: 43.75em;
    height: 1.875em;
    border-radius: 3.125em;
    align-items: center;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-title-agenda {
    display: flex;
    height: 1.25em;
    padding-top: 0.0625em;
    margin-left: 0.625em;
    align-items: center;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}

#agenda {
    justify-content: flex-start;
    width: 40%;
    margin-top: 0.625em;
}

#agenda input {
    display: flex;
    height: 1.875em;
    margin-left: 0.4375em;
    margin-top: 0.3125em;
    padding-left: 0.625em;
    padding-right: 0.3125em;
    align-items: center;
    background-color: #FFF1D4;
    border: none;
    border-radius: 3.125em;
    color: #2F435A;
    font-size: 0.9375em;
    font-family: poppinsmedium, sans-serif;
    outline: 0;
}
/* FIM AGENDA */

/* INICIO OBSERVAÇÃO */
.label-title-obs {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.25em;
    width: 43.75em;
    height: 1.875em;
    border-radius: 3.125em;
    align-items: center;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-title-obs {
    display: flex;
    height: 1.25em;
    padding-top: 0.0625em;
    margin-left: 0.625em;
    align-items: center;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}

#text-value-obs {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 42.5em;
    height: 6.25em;
    margin-top: 0.625em;
    padding: 0.3125em;
    color: #2F435A;
    background-color: #FFF1D4;
    border: none;
    outline: none;
    border-radius: 0.5em;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
}


#obs textarea {
    resize: none;
    color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
/* FIM OBSERVAÇÃO */
/* FIM FORMULÁRIO */

/* INICIO AÇÕES */
#actions {
    display: flex;
    margin-top: 1.875em;
    width: 43.75em;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    gap: 1.25em;
}

#alterar-solicitacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.375em;
    height: 1.875em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1em;
    transition: 0.5s;
    cursor: pointer;
}

#alterar-solicitacao:hover {
    display: flex;
    background-color: #FDCE6D;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #2F435A;
    font-family: poppinssemibold, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

#excluir-solicitacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.375em;
    height: 1.875em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1em;
    transition: 0.5s;
    cursor: pointer;
}

#excluir-solicitacao:hover {
    display: flex;
    background-color: #FDCE6D;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #2F435A;
    font-family: poppinssemibold, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

#enviar-solicitacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.375em;
    height: 1.875em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1em;
    transition: 0.5s;
    cursor: pointer;
}

#enviar-solicitacao:hover {
    display: flex;
    background-color: #FDCE6D;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #2F435A;
    font-family: poppinssemibold, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}
/* FIM AÇÕES */

/* INICIO MEDIA QUERIES */
/* 414PX */
@media screen and (max-width: 414px) {

    /* INICIO CABEÇALHO */
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-family: poppinsmedium, sans-serif;
        margin-left: auto;
        margin-right: auto;
        width: 25em;
        height: 3.125em;
        margin-top: 1.5625em;
    }

    .menu-icon-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0.1875em;
        width: 2.5em;
        height: 1.875em;
    }

    .fa-bars {
        font-weight: 600;
        font-size: 1.875em;
        color: #2F435A;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .fa-bars:hover {
        font-weight: 600;
        color: #FDCE6D;
        transition: .2s all;
    }

    .title-principal {
        display: flex;
        width: 8.75em;
        align-items: center;
        text-align: center;
        color: #2F435A;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.9375em;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 3.125em;
        height: 2.3125em;
        border: none;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }
    /* FIM CABEÇALHO */

    /* INICIO FORMULÁRIO */
    form {
        width: 25em;
        margin-left: auto;
        margin-right: auto;
    }

    /* INICIO CLIENTE */
    .label-title-cliente {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5625em;
        width: 25em;
        height: 1.5625em;
        border-radius: 3.125em;
        align-items: center;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .text-title-cliente {
        display: flex;
        height: 1.25em;
        padding-top: 0.0625em;
        margin-left: 0.625em;
        align-items: center;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    /*ID E NOME CLIENTE */
    .input-line-1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-right: auto;
        margin-left: auto;
        width: 23.75em;
        height: 1.5625em;
    }

    .id-client-container {
        width: 5.5em;
        height: 1.5625em;
        align-items: center;
    }

    .fa-id-card {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .id-client-container input {
        color: #FDCE6D;
    }

    #idClient {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 0.0625em;
        width: 3.75em;
        height: 1.5625em;
        color: rgba(47, 67, 90, 0.4);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }

    #idClient::placeholder {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 0.0625em;
        width: 3.75em;
        height: 1.5625em;
        color: rgba(47, 67, 90, 0.4);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }

    .name-client-container {
        display: flex;
        align-items: center;
        width: 17.1875em;
        height: 1.5625em;
        gap: 0.15625em;
    }

    .fa-user {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .name-client-container input {
        color: #FDCE6D;
    }

    #nameClient {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.3125em;
        width: 33.125em;
        height: 1.5625em;
        color: rgb(47, 67, 90);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }
    /* ID E NOME CLIENTE */

    /* E-MAIL CLIENTE */
    .email-client-container {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25em;
        align-items: center;
        width: 23.75em;
        height: 1.5625em;
        gap: 0.15625em;
    }

    .fa-envelope {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .email-client-container input {
        color: #FDCE6D;
        height: 1.5625em;
    }

    #emailClient {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.08em;
        padding-top: 0.0625em;
        padding-left: 0.3125em;
        width: 40.25em;
        height: 1.5625em;
        color: rgb(47, 67, 90);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }


    /* TELEFONE CLIENTE */
    .fone-client-container {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.625em;
        align-items: center;
        width: 23.75em;
        height: 1.5625em;
        gap: 0.15625em;
    }

    .fa-phone {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .fone-client-container input {
        color: #FDCE6D;
        height: 1.5625em;
    }

    #foneClient {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.08em;
        padding-top: 0.0625em;
        padding-left: 0.3125em;
        width: 40.25em;
        height: 1.5625em;
        color: rgb(47, 67, 90);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }
    /* FIM CLIENTE */


    /* INICIO PET */
    .label-title-pet {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5625em;
        width: 25em;
        height: 1.5625em;
        border-radius: 3.125em;
        align-items: center;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .text-title-pet {
        display: flex;
        height: 1.25em;
        padding-top: 0.0625em;
        margin-left: 0.625em;
        align-items: center;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }


    .name-pet-container {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.625em;
        align-items: center;
        width: 23.75em;
        height: 1.5625em;
        gap: 0.15625em;
    }

    .name-pet-container input {
        color: #FDCE6D;
        height: 1.5625em;
    }

    #namePet {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.08em;
        padding-top: 0.0625em;
        padding-left: 0.3125em;
        width: 40.25em;
        height: 1.5625em;
        color: rgb(47, 67, 90);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }

    .dog-name-icon {
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
        width: 2.25em;
        height: 2.3125em;
    }

    /* INICIO PROPRIEDADES */
    .pet-properties {
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        flex-wrap: wrap;
        width: 23.75em;

    }

    /* INICIO IDADE */
    #petIdade {
        position: relative;
        width: 100%;
        margin-top: 0.625em;
        z-index: 1000;
    }

    #petIdade label {
        display: flex;
        align-items: center;
        height: 1.5625em;
        padding: 0.3125em;
        gap: 0.625em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
    }

    .text-idade {
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    .containerIdade {
        position: absolute;
        width: 100%;
        border-radius: 0.5em;
        align-items: center;
        line-height: 1.5625em;
    }

    .containerIdade input {
        position: absolute;
        margin-top: 0.3125em;
        height: 1.5625em;
        line-height: 1.5625em;
        align-items: center;
        width: 100%;
        background-color: #FFF1D4;
        padding: 0 0.3125em;
        box-sizing: border-box;
        border-radius: 0.5em;
        outline: 0;
        border: none;
        color: #2F435A;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input::placeholder {
        color: #2F435A;
    }

    .dropDownIdade {
        position: absolute;
        align-items: flex-start;
        width: 100%;
        height: 4.6875em;
        background-color: #FDCE6D;
        border-radius: 0.3125em;
        margin-top: 2.1875em;
        overflow: auto;
        display: none;
        transform: translate(0px, -10px);
        transition: .5s;
        filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
        z-index: 1;
    }

    .dropDownIdade::-webkit-scrollbar {
        background-color: rgba(255, 231, 190, 0.9);
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .dropDownIdade::-webkit-scrollbar-thumb {
        background: #2F435A;
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .itemIdade {
        height: 1.5625em;
        padding-left: 0.3125em;
        box-sizing: border-box;
        transition: .3s;
        cursor: pointer;
        color: #2F435A;
        font-size: 0.875em;
        font-family: poppinsmedium, sans-serif;
    }

    .itemIdade:hover {
        background-color: rgba(255, 231, 190, 0.9);
        padding-left: 0.4375em;
        transition: .3s;
        font-family: poppinssemibold, sans-serif;
    }
    /* FIM IDADE */

    /* INICIO PORTE */
    #petPorte {
        position: relative;
        width: 100%;
        margin-top: 2.5em;
        z-index: 900;
    }

    #petPorte label {
        display: flex;
        align-items: center;
        height: 1.5625em;
        padding: 0.3125em;
        gap: 0.625em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
    }

    .text-porte {
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    .containerPorte {
        position: absolute;
        width: 100%;
        border-radius: 0.5em;
        align-items: center;
        line-height: 1.5625em;
    }

    .containerPorte input {
        position: absolute;
        margin-top: 0.3125em;
        height: 1.5625em;
        line-height: 1.5625em;
        align-items: center;
        width: 100%;
        background-color: #FFF1D4;
        padding: 0 0.3125em;
        box-sizing: border-box;
        border-radius: 0.5em;
        outline: 0;
        border: none;
        color: #2F435A;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input::placeholder {
        color: #2F435A;
    }

    .dropDownPorte {
        position: absolute;
        align-items: flex-start;
        width: 100%;
        height: 4.6875em;
        background-color: #FDCE6D;
        border-radius: 0.3125em;
        margin-top: 2.1875em;
        overflow: auto;
        display: none;
        transform: translate(0px, -10px);
        transition: .5s;
        filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
        z-index: 1;
    }

    .dropDownPorte::-webkit-scrollbar {
        background-color: rgba(255, 231, 190, 0.9);
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .dropDownPorte::-webkit-scrollbar-thumb {
        background: #2F435A;
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .itemPorte {
        height: 1.5625em;
        padding-left: 0.3125em;
        box-sizing: border-box;
        transition: .3s;
        cursor: pointer;
        color: #2F435A;
        font-size: 0.875em;
        font-family: poppinsmedium, sans-serif;
    }

    .itemPorte:hover {
        background-color: rgba(255, 231, 190, 0.9);
        padding-left: 0.4375em;
        transition: .3s;
        font-family: poppinssemibold, sans-serif;
    }
    /* FIM PORTE */

    /* INICIO PELAGEM */
    #petPelagem {
        position: relative;
        width: 100%;
        margin-top: 2.5em;
        z-index: 800;
    }

    #petPelagem label {
        display: flex;
        align-items: center;
        height: 1.5625em;
        padding: 0.3125em;
        gap: 0.3125em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
    }

    .text-pelagem {
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    .containerPelagem {
        position: absolute;
        width: 100%;
        border-radius: 0.5em;
        align-items: center;
        line-height: 1.5625em;
    }

    .containerPelagem input {
        position: absolute;
        margin-top: 1.875em;
        height: 1.5625em;
        line-height: 1.5625em;
        align-items: center;
        width: 100%;
        background-color: #FFF1D4;
        padding: 0 0.3125em;
        box-sizing: border-box;
        border-radius: 0.5em;
        outline: 0;
        border: none;
        color: #2F435A;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input::placeholder {
        color: #2F435A;
    }

    .dropDownPelagem {
        position: absolute;
        align-items: flex-start;
        width: 100%;
        height: 4.6875em;
        background-color: #FDCE6D;
        border-radius: 0.3125em;
        margin-top: 3.75em;
        overflow: auto;
        display: none;
        transform: translate(0px, -10px);
        transition: .5s;
        filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
        z-index: 1;
    }

    .dropDownPelagem::-webkit-scrollbar {
        background-color: rgba(255, 231, 190, 0.9);
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .dropDownPelagem::-webkit-scrollbar-thumb {
        background: #2F435A;
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .itemPelagem {
        height: 1.5625em;
        padding-left: 0.3125em;
        box-sizing: border-box;
        transition: .3s;
        cursor: pointer;
        color: #2F435A;
        font-size: 0.875em;
        font-family: poppinsmedium, sans-serif;
    }

    .itemPelagem:hover {
        background-color: rgba(255, 231, 190, 0.9);
        padding-left: 0.4375em;
        transition: .3s;
        font-family: poppinssemibold, sans-serif;
    }
    /* FIM PELAGEM */

    /* INICIO RAÇA */
    #petRaca {
        position: relative;
        width: 100%;
        margin-top: 2.5em;
        z-index: 700;
    }

    #petRaca label {
        display: flex;
        align-items: center;
        height: 1.5625em;
        padding: 0.3125em;
        gap: 0.3125em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
    }

    .text-raca {
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    .containerRaca {
        position: absolute;
        width: 100%;
        border-radius: 0.5em;
        align-items: center;
        line-height: 1.5625em;
    }

    .containerRaca input {
        position: absolute;
        margin-top: 1.875em;
        height: 1.5625em;
        line-height: 1.5625em;
        align-items: center;
        width: 100%;
        background-color: #FFF1D4;
        padding: 0 0.3125em;
        box-sizing: border-box;
        border-radius: 0.5em;
        outline: 0;
        border: none;
        color: #2F435A;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input::placeholder {
        color: #2F435A;
    }

    .dropDownRaca {
        position: absolute;
        align-items: flex-start;
        width: 100%;
        height: 4.6875em;
        background-color: #FDCE6D;
        border-radius: 0.3125em;
        margin-top: 3.75em;
        overflow: auto;
        display: none;
        transform: translate(0px, -10px);
        transition: .5s;
        filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
        z-index: 1;
    }

    .dropDownRaca::-webkit-scrollbar {
        background-color: rgba(255, 231, 190, 0.9);
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .dropDownRaca::-webkit-scrollbar-thumb {
        background: #2F435A;
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .itemRaca {
        height: 1.5625em;
        padding-left: 0.3125em;
        box-sizing: border-box;
        transition: .3s;
        cursor: pointer;
        color: #2F435A;
        font-size: 0.875em;
        font-family: poppinsmedium, sans-serif;
    }

    .itemRaca:hover {
        background-color: rgba(255, 231, 190, 0.9);
        padding-left: 0.4375em;
        transition: .3s;
        font-family: poppinssemibold, sans-serif;
    }
    /* FIM RAÇA */
    /* FIM PROPRIEDADES */
    /* FIM PET */

    /* INICIO SERVIÇOS */
    #servicos {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3.125em;
    }

    #servicos label {
        display: flex;
        align-items: center;
        height: 1.5625em;
        padding: 0.625em;
        gap: 0.625em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 3.125em;
    }

    .text-servicos {
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    .containerServicos {
        position: relative;
        width: 98%;
        border-radius: 0.5em;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.3125em;
        line-height: 1.5625em;
    }

    .containerServicos input {
        margin-top: 0.3125em;
        height: 1.5625em;
        align-items: center;
        line-height: 1.5625em;
        width: 100%;
        background-color: #FFF1D4;
        padding: 0 0.3125em;
        box-sizing: border-box;
        border-radius: 0.5em;
        outline: 0;
        border: none;
        color: #2F435A;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input::placeholder {
        color: #2F435A;
    }

    .dropDownServico {
        position: absolute;
        align-items: flex-start;
        width: 100%;
        height: 4.6875em;
        background-color: #FDCE6D;
        border-radius: 0.3125em;
        margin-top: 0.3125em;
        overflow: auto;
        display: none;
        transform: translate(0px, -10px);
        transition: .5s;
        filter: drop-shadow(0px 0px 250px rgb(0, 0, 0));
    }

    .dropDownServico::-webkit-scrollbar {
        background-color: rgba(255, 231, 190, 0.9);
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .dropDownServico::-webkit-scrollbar-thumb {
        background: #2F435A;
        width: 0.3125em;
        border-radius: 3.125em;
    }

    .itemServico {
        height: 1.5625em;
        padding-left: 0.3125em;
        box-sizing: border-box;
        transition: .3s;
        cursor: pointer;
        color: #2F435A;
        font-size: 0.875em;
        font-family: poppinsmedium, sans-serif;
    }

    .itemServico:hover {
        background-color: rgba(255, 231, 190, 0.9);
        padding-left: 0.4375em;
        transition: .3s;
        font-family: poppinssemibold, sans-serif;
    }
    /* FIM SERVIÇOS */

    /* INICIO AGENDA */
    #agendamento {
        width: 25em;
    }
    .label-title-agenda {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.25em;
        width: 100%;
        height: 1.5625em;
        border-radius: 3.125em;
        align-items: center;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .text-title-agenda {
        display: flex;
        height: 1.25em;
        padding-top: 0.0625em;
        margin-left: 0.625em;
        align-items: center;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    #agenda {
        justify-content: flex-start;
        width: 40%;
        margin-top: 0.625em;
    }

    #agenda input {
        display: flex;
        height: 1.5625em;
        margin-left: 0.3125em;
        margin-top: 0.3125em;
        padding-left: 0.625em;
        padding-right: 0.3125em;
        align-items: center;
        background-color: #FFF1D4;
        border: none;
        border-radius: 3.125em;
        color: #2F435A;
        font-size: 0.875em;
        font-family: poppinsmedium, sans-serif;
        outline: 0;
    }
    /* FIM AGENDA */

    /* INICIO OBSERVAÇÃO */
    #observacao {
        width: 25em;
    }
    .label-title-obs {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.25em;
        width: 100%;
        height: 1.5625em;
        border-radius: 3.125em;
        align-items: center;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .text-title-obs {
        display: flex;
        height: 1.5625em;
        padding-top: 0.0625em;
        margin-left: 0.625em;
        align-items: center;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    #text-value-obs {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 7.5em;
        margin-top: 0.625em;
        padding: 0.3125em;
        color: #2F435A;
        background-color: #FFF1D4;
        border: none;
        outline: none;
        border-radius: 0.5em;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
    }

    #obs textarea {
        resize: none;
        color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    #obs textarea::-webkit-scrollbar {
        background-color: rgba(255, 231, 190, 0.9);
        width: 0.3125em;
        border-radius: 3.125em;
    }

    #obs textarea::-webkit-scrollbar-thumb {
        background: #2F435A;
        width: 0.3125em;
        border-radius: 3.125em;
    }
    /* FIM OBSERVAÇÃO */
    /* FIM FORMULÁRIO */

    /* INICIO AÇÕES */
    #actions {
        display: flex;
        width: 17.5em;
        margin: 1.875em auto 3.125em;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 0.625em;
    }

    #alterar-solicitacao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.125em;
        height: 1.875em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
        transition: 0.5s;
        cursor: pointer;
    }

    #alterar-solicitacao:hover {
        display: flex;
        background-color: #FDCE6D;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #2F435A;
        font-family: poppinssemibold, sans-serif;
        transition: 0.5s;
        cursor: pointer;
    }

    #excluir-solicitacao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.125em;
        height: 1.875em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
        transition: 0.5s;
        cursor: pointer;
    }

    #excluir-solicitacao:hover {
        display: flex;
        background-color: #FDCE6D;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #2F435A;
        font-family: poppinssemibold, sans-serif;
        transition: 0.5s;
        cursor: pointer;
    }

    #enviar-solicitacao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.125em;
        height: 1.875em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
        transition: 0.5s;
        cursor: pointer;
    }

    #enviar-solicitacao:hover {
        display: flex;
        background-color: #FDCE6D;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #2F435A;
        font-family: poppinssemibold, sans-serif;
        transition: 0.5s;
        cursor: pointer;
    }
    /* INICIO AÇÕES */
}
/* 414PX */
/* FIM MEDIA QUERIES */