* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: antiquewhite;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    border: 1px solid #000;
    border-radius: 10px;
}
