* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* INICIO CABEÇALHO */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppinsmedium, sans-serif;
    width: 43.75em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
}
.menu-icon-container {
    display: flex;
    align-items: center;
    height: 16px;
    width: 30px;
    top: 0px;
    left: 0px;
    padding-top: 16px;
    cursor: pointer;
    border-radius: 2px;
}

.fa-arrow-left {
    font-weight: 600;
    font-size: 36px;
    color: #2F435A;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.fa-arrow-left:hover {
    font-weight: 600;
    color: #FDCE6D;
    transition: .2s all;
}

.menu-icon-container > button {
    background-color: transparent;
    width: 34px;
    height: 30px;
    outline: 0;
    border: none;
    cursor: pointer;
}

/*menu-lateral*/
#slide {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    align-items: flex-start;
    top: 0;
    left: 0;
    padding: 40px 20px;
    background-color: #FDCE6D;
    height: 100%;
    width: 250px;
    font-family: poppinssemibold, sans-serif;
    z-index: 1000;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    border-radius: 0px 10px 10px 0px;
}

.animate__animated.animate__fadeInLeft::before {
    --animate-duration: .5s;
}

#slide>li {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 20px;
}

#slide>li:hover>.drop-down-agenda {
    display: block;
    position: absolute;
    left: 210px;
    top: 95px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    z-index: 100;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

#slide>li:hover>.drop-down-cadastro {
    display: block;
    position: absolute;
    left: 210px;
    top: 135px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    z-index: 90;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

#slide>li>a {
    line-height: 18px;
    color: #2f435a;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.menu-container {
    display: flex;
}

.um {
    margin-left: 75px;
}

.dois {
    margin-left: 45px;
}

.drop-down-agenda {
    display: none;
    position: absolute;
    left: 210px;
    top: 90px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    z-index: 100;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

.drop-down-agenda>ul {
    list-style-type: none;
}

.drop-down-agenda>ul>li {
    margin-bottom: 8px;
}

.drop-down-agenda>ul>li>a {
    color: #2F435A;
    font-size: 18px;
    text-decoration: none;
}

.drop-down-agenda>ul>li>a:hover {
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.5));
}

.drop-down-cadastro {
    display: none;
    position: absolute;
    left: 210px;
    top: 135px;
    width: 210px;
    background-color: rgb(255, 231, 190);
    padding: 7px;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

.drop-down-cadastro>ul {
    list-style-type: none;
}

.drop-down-cadastro>ul>li {
    margin-bottom: 8px;
}

.drop-down-cadastro>ul>li>a {
    color: #2F435A;
    font-size: 18px;
    text-decoration: none;
}

.drop-down-cadastro>ul>li>a:hover {
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.5));
}

.fa-home,
.fa-power-off {
    color: #2f435a;
    font-size: 24px;
}

.fa-headset {
    font-size: 23px;
    color: #2f435a;
}

.fa-calendar {
    font-size: 23px;
    padding-left: 3px;
    color: #2f435a;
}

.fa-user-group {
    font-size: 22px;
    color: #2f435a;
}

.fa-file-lines {
    font-size: 25px;
    padding-left: 3px;
    color: #2f435a;
}

/*menu-lateral*/

.title-principal {
    display: block;
    align-items: center;
    color: #2F435A;
    font-family: poppinsmedium, sans-serif;
}

.logo {
    display: flex;
    border: none;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}
/* FIM CABEÇALHO */

/* INICIO FORMULÁRIO */
form {
    width: 43.75em;
    margin-left: auto;
    margin-right: auto;
}


/* INICIO CLIENTE */
.label-title-cliente {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    width: 43.75em;
    height: 1.875em;
    border-radius: 3.125em;
    align-items: center;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-title-cliente {
    display: flex;
    height: 1.25em;
    padding-top: 0.0625em;
    margin-left: 0.625em;
    align-items: center;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}


/* INICIO NOME CLIENTE */

.name-client-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    align-items: center;
    width: 42.5em;
    height: 1.875em;
    gap: 0.15625em;
}

.fa-user {
    color: #2F435A;
    font-size: 1.5em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.name-client-container input {
    color: #FDCE6D;
}

#nameClient {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.875em;
    margin-left: 0.08em;
    padding-top: 0.0625em;
    padding-left: 0.5em;
    width: 40.25em;
    height: 1.875em;
    color: rgb(47, 67, 90);
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}

/* FIM NOME CLIENTE */


/* INICIO E-MAIL CLIENTE */
.email-client-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    align-items: center;
    width: 42.5em;
    height: 1.875em;
    gap: 0.15625em;
}

.fa-envelope {
    color: #2F435A;
    font-size: 1.78125em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.email-client-container input {
    color: #FDCE6D;
    height: 1.875em;
}

#emailClient {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.875em;
    margin-left: 0.08em;
    padding-top: 0.0625em;
    padding-left: 0.5em;
    width: 40.25em;
    height: 1.875em;
    color: rgb(47, 67, 90);
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}
/* FIM E-MAIL CLIENTE */

/* INICIO TELEFONE CLIENTE */
.fone-client-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    align-items: center;
    width: 42.5em;
    height: 1.875em;
    gap: 0.15625em;
}

.fa-phone {
    color: #2F435A;
    font-size: 1.7em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.fone-client-container input {
    color: #2F435A;
}

#foneClient {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.875em;
    margin-left: 0.1875em;
    padding-left: 0.5em;
    width: 40.25em;
    height: 1.875em;
    color: rgb(47, 67, 90);
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #FFF1D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    outline: 0;
}
/* FIM TELEFONE CLIENTE */

/* INICIO MENSAGEM */
.label-title-msg {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.25em;
    width: 43.75em;
    height: 1.875em;
    border-radius: 3.125em;
    align-items: center;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-title-msg {
    display: flex;
    height: 1.25em;
    padding-top: 0.0625em;
    margin-left: 0.625em;
    align-items: center;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}

#text-value-msg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 42.5em;
    height: 6.25em;
    margin-top: 0.625em;
    padding: 0.3125em;
    color: #2F435A;
    background-color: #FFF1D4;
    border: none;
    outline: none;
    border-radius: 0.5em;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
}


#msg textarea {
    resize: none;
    color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
/* FIM OBSERVAÇÃO */

/* INICIO RESPOSTA */
.label-title-resp {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.25em;
    width: 43.75em;
    height: 1.875em;
    border-radius: 3.125em;
    align-items: center;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.text-title-resp {
    display: flex;
    height: 1.25em;
    padding-top: 0.0625em;
    margin-left: 0.625em;
    align-items: center;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1.25em;
}

#text-value-resp {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 42.5em;
    height: 6.25em;
    margin-top: 0.625em;
    padding: 0.3125em;
    color: #2F435A;
    background-color: #FFF1D4;
    border: none;
    outline: none;
    border-radius: 0.5em;
    font-family: poppinsmedium, sans-serif;
    font-size: 1em;
}


#resp textarea {
    resize: none;
    color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
/* FIM RESPOSTA */

/* FIM FORMULÁRIO */

/* INICIO AÇÕES */
#actions {
    display: flex;
    margin-top: 1.875em;
    width: 43.75em;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    gap: 1.25em;
}

#inserir-resposta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    width: 11em;
    height: 2em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1em;
    transition: 0.5s;
    cursor: pointer;
}

#inserir-resposta:hover {
    display: flex;
    background-color: #FDCE6D;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #2F435A;
    font-family: poppinssemibold, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

#excluir-mensagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    width: 11em;
    height: 2em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1em;
    transition: 0.5s;
    cursor: pointer;
}

#excluir-mensagem:hover {
    display: flex;
    background-color: #FDCE6D;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #2F435A;
    font-family: poppinssemibold, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

#enviar-resposta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    width: 11em;
    height: 2em;
    background-color: #2F435A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #FDCE6D;
    font-family: poppinssemibold, sans-serif;
    font-size: 1em;
    transition: 0.5s;
    cursor: pointer;
}

#enviar-resposta:hover {
    display: flex;
    background-color: #FDCE6D;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    outline: 0;
    border: none;
    border-radius: 3.125em;
    color: #2F435A;
    font-family: poppinssemibold, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}
/* FIM AÇÕES */

/* INICIO MEDIA QUERIES */
/* 414PX */
@media screen and (max-width: 414px) {

    /* INICIO CABEÇALHO */
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-family: poppinsmedium, sans-serif;
        margin-left: auto;
        margin-right: auto;
        width: 25em;
        height: 3.125em;
        margin-top: 1.5625em;
    }

    .menu-icon-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0.1875em;
        width: 2.5em;
        height: 1.875em;
    }

    .fa-bars {
        font-weight: 600;
        font-size: 1.875em;
        color: #2F435A;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .fa-bars:hover {
        font-weight: 600;
        color: #FDCE6D;
        transition: .2s all;
    }

    .title-principal {
        display: flex;
        width: 8.75em;
        align-items: center;
        text-align: center;
        color: #2F435A;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.9375em;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 3.125em;
        height: 2.3125em;
        border: none;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }
    /* FIM CABEÇALHO */

    /* INICIO FORMULÁRIO */
    form {
        width: 25em;
        margin-left: auto;
        margin-right: auto;
    }

    /* INICIO CLIENTE */
    .label-title-cliente {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5625em;
        width: 25em;
        height: 1.5625em;
        border-radius: 3.125em;
        align-items: center;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .text-title-cliente {
        display: flex;
        height: 1.25em;
        padding-top: 0.0625em;
        margin-left: 0.625em;
        align-items: center;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    /*ID E NOME CLIENTE */
    .input-line-1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-right: auto;
        margin-left: auto;
        width: 23.75em;
        height: 1.5625em;
    }

    .id-client-container {
        width: 5.5em;
        height: 1.5625em;
        align-items: center;
    }

    .fa-id-card {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .id-client-container input {
        color: #FDCE6D;
    }

    #idClient {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 0.0625em;
        width: 3.75em;
        height: 1.5625em;
        color: rgba(47, 67, 90, 0.4);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }

    #idClient::placeholder {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 0.0625em;
        width: 3.75em;
        height: 1.5625em;
        color: rgba(47, 67, 90, 0.4);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }

    .name-client-container {
        display: flex;
        align-items: center;
        width: 17.1875em;
        height: 1.5625em;
        gap: 0.15625em;
    }

    .fa-user {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .name-client-container input {
        color: #FDCE6D;
    }

    #nameClient {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.3125em;
        width: 33.125em;
        height: 1.5625em;
        color: rgb(47, 67, 90);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }
    /* ID E NOME CLIENTE */

    /* E-MAIL CLIENTE */
    .email-client-container {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25em;
        align-items: center;
        width: 23.75em;
        height: 1.5625em;
        gap: 0.15625em;
    }

    .fa-envelope {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .email-client-container input {
        color: #FDCE6D;
        height: 1.5625em;
    }

    #emailClient {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.08em;
        padding-top: 0.0625em;
        padding-left: 0.3125em;
        width: 40.25em;
        height: 1.5625em;
        color: rgb(47, 67, 90);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }


    /* TELEFONE CLIENTE */
    .fone-client-container {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.625em;
        align-items: center;
        width: 23.75em;
        height: 1.5625em;
        gap: 0.15625em;
    }

    .fa-phone {
        color: #2F435A;
        font-size: 1.25em;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    }

    .fone-client-container input {
        color: #FDCE6D;
        height: 1.5625em;
    }

    #foneClient {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.08em;
        padding-top: 0.0625em;
        padding-left: 0.3125em;
        width: 40.25em;
        height: 1.5625em;
        color: rgb(47, 67, 90);
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
        border: none;
        background-color: rgba(255, 231, 190, 0.79);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3125em;
        outline: 0;
    }
    /* FIM CLIENTE */

    /* INICIO OBSERVAÇÃO */
    #observacao {
        width: 25em;
    }
    .label-title-obs {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.25em;
        width: 100%;
        height: 1.5625em;
        border-radius: 3.125em;
        align-items: center;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .text-title-obs {
        display: flex;
        height: 1.5625em;
        padding-top: 0.0625em;
        margin-left: 0.625em;
        align-items: center;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
    }

    #text-value-obs {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 7.5em;
        margin-top: 0.625em;
        padding: 0.3125em;
        color: #2F435A;
        background-color: #FFF1D4;
        border: none;
        outline: none;
        border-radius: 0.5em;
        font-family: poppinsmedium, sans-serif;
        font-size: 0.875em;
    }

    #obs textarea {
        resize: none;
        color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    #obs textarea::-webkit-scrollbar {
        background-color: rgba(255, 231, 190, 0.9);
        width: 0.3125em;
        border-radius: 3.125em;
    }

    #obs textarea::-webkit-scrollbar-thumb {
        background: #2F435A;
        width: 0.3125em;
        border-radius: 3.125em;
    }
    /* FIM OBSERVAÇÃO */
    /* FIM FORMULÁRIO */

    /* INICIO AÇÕES */
    #actions {
        display: flex;
        width: 17.5em;
        margin: 1.875em auto 3.125em;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 0.625em;
    }

    #alterar-solicitacao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.125em;
        height: 1.875em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
        transition: 0.5s;
        cursor: pointer;
    }

    #alterar-solicitacao:hover {
        display: flex;
        background-color: #FDCE6D;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #2F435A;
        font-family: poppinssemibold, sans-serif;
        transition: 0.5s;
        cursor: pointer;
    }

    #excluir-solicitacao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.125em;
        height: 1.875em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
        transition: 0.5s;
        cursor: pointer;
    }

    #excluir-solicitacao:hover {
        display: flex;
        background-color: #FDCE6D;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #2F435A;
        font-family: poppinssemibold, sans-serif;
        transition: 0.5s;
        cursor: pointer;
    }

    #enviar-solicitacao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.125em;
        height: 1.875em;
        background-color: #2F435A;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #FDCE6D;
        font-family: poppinssemibold, sans-serif;
        font-size: 1em;
        transition: 0.5s;
        cursor: pointer;
    }

    #enviar-solicitacao:hover {
        display: flex;
        background-color: #FDCE6D;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        border-radius: 3.125em;
        color: #2F435A;
        font-family: poppinssemibold, sans-serif;
        transition: 0.5s;
        cursor: pointer;
    }

    img {
        width: 60px;
        height: 37px;
    }
    /* INICIO AÇÕES */
}
/* 414PX */
/* FIM MEDIA QUERIES */